body{
    margin:0;
    padding:0;
    background-color: rgba(37, 63, 5, 0.836);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: rgb(157, 140, 140);
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 25%;
    text-align: center;
}

.currList{
    display:flex;
    justify-content: space-between;
}

.fromCurr, .toCurr{
    display:flex;
    align-items: center;
    column-gap: 2px;
}


#fromCurrencyList, #toCurrencyList{
    border: 1px solid black;
    height: 20px;
    border-radius: 10px;
}

.amountSection{
    margin-top: 20px;
}

.msg, .button{
    margin-top: 30px;
}